@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");

* {
  transition: 0.3s;
  box-sizing: border-box;
}

.light-theme {
  --background-color: #fff;
  --second-background: #e5e5e5;
  --color: #464646;
}

.dark-theme {
  --background-color: #1c1c1c;
  --second-background: #363636;
  --color: #fff;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  box-sizing: border-box;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  height: 100px;
  padding: 0 5%;
}

.header__image {
  cursor: pointer;
}

.header__search {
  display: none;
}

.search__input {
  border: none;
  flex: 1;
}

.search__input:focus-visible {
  border: none;
  outline: 0;
}

.search__input:focus {
  border: none;
}

.search__icon {
  color: #2a7ae4;
}

.header__button {
  color: #2a7ae4;
  background-color: var(--background-color);
  border: 1px solid #2a7ae4;
  padding: 12px 16px;
  width: 100px;
}

.header__button:hover {
  background-color: #2a7ae4;
  color: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  height: 210px;
  width: 100%;
  padding: 20px 5%;
  color: #fff;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.7) 100%),
    url("../assets/banner/consoles.jpg");
  background-size: cover;
  background-position: center top;
}

.banner__title {
  font-weight: bold;
  font-size: 1.75rem;
}

.banner__subtitle {
  font-weight: 600;
}

.banner__button,
.rodape__button,
.container__button {
  color: #fff;
  background-color: #2a7ae4;
  border: none;
  padding: 12px 16px;
  width: 120px;
}

.banner__button:hover,
.rodape__button:hover,
.container__button:hover {
  opacity: 0.85;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 5%;
  background-color: var(--second-background);
}

.products__category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.products__list-card {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 20px;
}

.products__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.products__card:hover {
  border-top: 7px solid #2a7ae4;
}

.products__card-img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.products__card-price {
  font-weight: 700;
}

.products__card-link {
  color: #2a7ae4;
  font-weight: 700;
  cursor: pointer;
}

.products__card-link:hover {
  text-decoration: underline;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 30px 5%;
  background-color: #eaf2fd;
  width: 100%;
  box-sizing: border-box;
}

.rodape__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.rodape__link:hover {
  text-decoration: underline;
}

.rodape__form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}

.rodape__form-title {
  font-weight: 700;
  font-size: 1.1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color);
  background-color: var(--background-color);
  padding: 20px 0;
}

.footer__autor {
  font-weight: bold;
}

.footer__social-medias {
  display: flex;
  gap: 30px;
  color: #2a7ae4;
}

.footer__social-medias i {
  font-size: 1.5rem;
  color: var(--color);
}

.footer__social-medias i:hover {
  color: #2a7ae4;
  font-size: 1.75rem;
}

@media screen and (min-width: 768px) {
  .header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #2a7ae4;
    height: 35px;
    min-width: 250px;
    width: 25%;
    padding: 6px 12px;
  }

  .banner {
    height: 350px;
    gap: 20px;
    padding: 40px 5%;
  }

  .banner__title {
    font-size: 3.5rem;
  }

  .banner__subtitle {
    font-size: 1.5rem;
  }

  .banner__button,
  .rodape__button {
    padding: 12px 16px;
    width: 180px;
    font-size: 1.1rem;
  }

  .rodape {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    height: 400px;
  }

  .rodape__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .rodape__list {
    align-items: flex-start;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .rodape__form {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-top: 20px;
    padding-right: 4vw;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 450px;
  }

  .products__title {
    font-size: 1.75rem;
  }

  .products__list-card {
    font-size: 1.25rem;
    height: 360px;
  }

  .products__card-img {
    width: 250px;
    height: auto;
  }

  .rodape {
    grid-template-columns: 20% 25% 55%;
    grid-template-rows: 100%;
    padding: 50px 5%;
  }

  .rodape__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .rodape__list {
    grid-column: 2 /3;
    grid-row: 1 / 2;
  }

  .rodape__form {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding-top: 0px;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px; 
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.success {
  background-color: #10b83d;
}

#snackbar.error {
  background-color: #F61E05;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
